@model HRMS.Models.Employee

<h2>Employee Details</h2>

<p><b>Code:</b> @Model.EmployeeCode</p>
<p><b>Name:</b> @Model.FullName</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Phone:</b> @Model.PhoneNo</p>
<p><b>Salary:</b> @Model.Salary</p>