@model IEnumerable<HRMS.Models.Employee>

<h2>Employee List</h2>

@if (User.IsInRole("Admin") || User.IsInRole("HR"))
{
    <p>
        <a asp-controller="Employee"
           asp-action="Create"
           class="btn btn-success">
            Add Employee
        </a>
    </p>
}

  
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Employee Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeCode</td>

                <td>
                    @item.FullName
                </td>

                <td>@item.Email</td>

                <td>@item.PhoneNo</td>

                <td>@item.Department?.DepartmentName</td>

                <td>@item.Designation?.DesignationName</td>

                <td>@item.Salary</td>

                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.EmployeeId"
                       class="btn btn-info">Details</a>

                    @if (User.IsInRole("Admin") || User.IsInRole("HR"))
                    {
                        <a asp-action="Edit"
                           asp-route-id="@item.EmployeeId"
                           class="btn btn-warning">
                            Edit
                        </a>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete"
                           asp-route-id="@item.EmployeeId"
                           class="btn btn-danger">
                            Delete
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table> 